body{
    margin: 0;
    padding: ;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10em;
    background: #001C30;
    clip-path: polygon(0 0, 100% 0, 100% 74%, 0 100%);
}

.menu {

    display: flex;
    font-size: 2em;
}

.menu li {
    list-style-type: none;
    position: relative;
    right: 3%;
}

.menu a {
    display: block;
    margin: 0.5rem;
    padding: 0.4rem;
    text-align: center;
    /* background-color: #001C30; */
    color: #64CCC5;
    text-decoration: none;
    font-family: 'Gloria Hallelujah', cursive;
}

.nav_nom {
    color: #176B87;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 0.3em;
    /*espaces entres les lettres*/
    position: relative;
    left: 3%;
    font-family: 'Gloria Hallelujah', cursive;
}

.logoBurger{
    width: 8%;
}

.infoProduit{
    text-align: center;
    font-weight: bold;
    font-size: 3em;
}

.photoBurger{
width: 20%;

}

.footer_footer{
clip-path: polygon(0 18%, 100% 0, 100% 100%, 0 100%);
display: flex;
position: relative;
justify-content: space-around;
background-color: #001C30;
align-items: center;
text-align: center;
color: #64CCC5
/* font-size: 2em; */

}

.logo_facebook {
    width: 10%;
    height: 10%;   
}

.logo_insta {
    width: 40%;
    height: 40%;
}
